
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid" style="align-items: center;">
        <a class="navbar-brand" style="padding-left:50%" href="#">Monitorreo de viaje</a>
      </div>  
    </nav>


    
<div class="row col-lg-12 w-100" style="margin-left: 1%;">
    <div class="row col-lg-12">
      <div class="col-lg-10">
        <div><b>C&oacute;digo</b></div>
        <div>dasd212</div><br>
      </div>
      <div class="col-lg-2"><button>Nuevo viaje</button></div>
      <span layout="row"><hr flex /></span>
      <div class="row col-lg-12">&nbsp;</div>
      <div class="col-lg-3">
        <div><b>Origen</b></div>
        <div>dasdas</div><br>
      </div>
      <div class="col-lg-3">
        <div><b>Destino</b></div>
        <div>dasdasdas</div><br>
      </div>
      <div class="col-lg-3">
        <div><b>F. Viaje</b></div>
        <div>d</div><br>
      </div>
      <div class="col-lg-3">
        <div><b>F. Cierre</b></div>
        <div>a</div><br>
      </div> 
      <div class="col-lg-3">
        <div><b>No. Econ&oacute;mico</b></div>
        <div>a</div><br>
      </div> 
         
      <div class="col-lg-3">
        <div><b>Operador</b></div>
        <div>a</div><br>
      </div> 
      <div class="col-lg-3">
        <div><b>dad</b></div>
        <div>a</div><br>
      </div> 
      <div class="row col-lg-12">&nbsp;</div>
      <div class="col-lg-2">
        <label for="fiEstatus" maxlength="15" class="form-label">Estatus</label>
        <input class="form-control"  id="fiEstatus">
      </div>
      <div class="col-lg-3">
      <label for="ficel" maxlength="15" class="form-label">No. Celular</label>
      <input class="form-control"  id="ficel">
    </div>  
    <div class="col-lg-4">
      <label for="fimensaje" maxlength="15" class="form-label">Ubicacion</label>
      <input class="form-control"   id="fimensaje">
    </div>  
    </div>
  </div>