
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Launch static backdrop modal
  </button>
  <div class="modal  fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
  
        <div class="modal-body">
          <div class="row ">
            <div class="col-md-2"><strong>C&oacute;digo</strong></div>
            <div class="col-md-2">listaparametros!.Codigo</div>
            <div class="col-md-2"><strong>Estatus</strong></div>
            <div class="col-md-2">listaparametros!.Estatus</div>
            <div class="col-md-2"><strong>Fecha</strong></div>
            <div class="col-md-2">listaparametros!.fhFechaRegistro | date:'dd/MM/yyyy'</div>
          </div>
          <span layout="row" ><hr flex/></span>
          <div class="row"  >
            <div class="col-md-2" ><strong>Usuario que eliminó</strong></div>
                <div class="col-md-2" >listaparametros!.UsuarioEliminar</div>
            <div class="col-md-2" ><strong>Fecha de eliminación</strong></div>
                <div class="col-md-2" >listaparametros!.fhFechaCancelacion</div>
          </div>
          <span layout="row"  ><hr flex/></span>
          <div class="row "  >
            <div class="col-md-4"  ><strong>Motivo de eliminación</strong></div>
            <div class="col-md-6"  >listaparametros!.tMotivo</div>
          </div>	
          <span layout="row"><hr flex/></span>
          <div class="row ">
            <div class="col-md-2"><strong>Placas</strong></div>
            <div class="col-md-2">listaparametros!.tPlacas</div>
            <div class="col-md-2"><strong>Entidad</strong></div>
            <div class="col-md-6">listaparametros!.Entidad</div>
          </div>
          <span layout="row"><hr flex/></span>
          <div class="row ">
            <div class="col-md-2"><strong>Tipo transporte</strong></div>
            <div class="col-md-2">listaparametros!.TipoTransporte</div>
            <div class="col-md-2"><strong>No. Económico</strong></div>
            <div class="col-md-2">listaparametros!.tNumeroEconomico</div>
          </div>
          <span layout="row"><hr flex/></span>
          <div class="row ">
            <div class="col-md-2"><strong>Marca</strong></div>
            <div class="col-md-2">listaparametros!.Marca</div>
            <div class="col-md-2"><strong>Modelo</strong></div>
            <div class="col-md-2">listaparametros!.eModelo</div>
            <div class="col-md-2"><strong>Número de ejes</strong></div>
            <div class="col-md-2">listaparametros!.eNumeroEjes</div>
          </div>
          <span layout="row"><hr flex/></span>
          <div class="row ">
            <div class="col-md-2"  ><strong>Tipo de remolque</strong></div>
            <div class="col-md-4"  >listaparametros!.TipoRemolque</div>
            <div class="col-md-2"  ><strong>Tipo de remolque</strong></div>
            <div class="col-md-4"  >listaparametros!.TipoRemolque</div>
            <div class="col-md-2" ><strong>No. Serie motor</strong></div>
            <div class="col-md-2" >listaparametros!.tNumeroSerieMotor</div>
            <div class="col-md-2" ><strong>No. Serie chasis</strong></div>
            <div class="col-md-2"  >listaparametros!.tNumeroSerieChasis</div>
            <div class="col-md-2" ><strong>No. Serie motor</strong></div>
            <div class="col-md-2" >listaparametros!.tNumeroSerieMotor</div>
            <div class="col-md-2" ><strong>No. Serie chasis</strong></div>
            <div class="col-md-2" >listaparametros!.tNumeroSerieChasis</div>
            
          </div>
          <span layout="row"><hr flex/></span>
          <div class="row ">
            <div class="col-md-2"><strong>C. Contable</strong></div>
            <div class="col-md-2">listaparametros!.tCuentaContable</div>
            <div class="col-md-2"><strong>Aseguradora</strong></div>
            <div class="col-md-2">listaparametros!.Aseguradora</div>
            <div class="col-md-2"><strong>No. Poliza</strong></div>
            <div class="col-md-2">listaparametros!.tNumeroPoliza</div>
          </div>
          <span layout="row"><hr flex/></span>
          <div class="row ">
            <div class="col-md-2"><strong>Tag</strong></div>
            <div class="col-md-2">listaparametros!.tTAG</div>
            <div class="col-md-2"><strong>Capacidad</strong></div>
            <div class="col-md-2">listaparametros!.dCapacidad</div>
            <div class="col-md-2"><strong>Unidad de medida</strong></div>
            <div class="col-md-2">listaparametros!.UMedida</div>
          </div>
          <span layout="row"><hr flex/></span>
          <div class="row ">
            <div class="col-md-2"><strong>NO. Permisos SCT</strong></div>
            <div class="col-md-2">listaparametros!.tNumeroPermisoSCT</div>
            <div class="col-md-2"><strong>T. Permisos SCT</strong></div>
            <div class="col-md-4">listaparametros!.Permisos</div>
            
          </div>
          
          <span layout="row" ><hr flex/></span>
          <div class="row col-md-12" >
            <table style="margin-left: 5px;">
              <tr>
                <th>E</th>
                <th class="col-md-2">Documento</th>
                <th class="col-md-2">F. Inicio</th>
                <th class="col-md-2">F. Termino</th>
              </tr>
              <tr >
                <td>documentos</td>
                <td class="col-md-2">
                  <label> Nombre</label>
                  <a  href="listaparametros!.tRutaBaseDirectoriodocumento.tRutaArchivo" download>documento.tNombre</a>
                </td>
                <td class="col-md-2">documento!.fhFechaInicio | date:'dd/MM/yyy'</td>
                <td class="col-md-2">documento!.fhFechaTermino | date:'dd/MM/yyy'</td>
              </tr>
            </table>
          </div>
      </div>
    </div>
  </div>
  